
<div align="center">
  <h2><%= "Hello! #{current_user.first_name}" %></h2>

  <%= link_to "<button>Edit Profile</button>".html_safe, :controller => 'users',:action => 'edit_profile', :id =>current_user.id%><br><br>
  <% if is_admin_user? %>
      <%= link_to "<button>Manage Books</button>".html_safe, :controller => 'books' %><br><br>
      <%= link_to "<button>Manage Users</button>".html_safe, :controller => 'users' %><br><br>
      <%= link_to "<button>View Suggested Books</button>".html_safe, :controller => 'books',:action => 'view_suggestions' %><br><br>
  <% else %>
      <%= link_to "<button>View Books</button>".html_safe, :controller => 'books' %><br><br>
      <%= link_to "<button>Suggest New Book</button>".html_safe, :controller => 'books',:action => 'suggest_book' %><br>
  <% end %>

  <%if !is_admin_user? %>
      <li>
        <%= form_tag "/users/users_history/#{current_user.id}", method: :get  do %>
            <%= hidden_field_tag :user_id, current_user.id%><br>
            <%= submit_tag "My Transaction History" %>
        <% end %>
      </li>
  <%end%>

</div>