<div align="center">
  <p><%= "First Name : #{current_user.first_name}"  %></p>

  <p><%= "Last Name : #{current_user.last_name}"  %></p>

  <p><%= "Email Id : #{current_user.email}"  %></p>

  <p><%= "User Role : #{current_user.user_type}"  %></p>

  <p><%= "User Name : #{current_user.username}"  %></p>
  <% @page_title = "Member User Menu" %>
  <%#= link_to 'Home Page', controller: 'access', action: 'index' %><br>
</div>

